
# Added by clean-my-repo
.cmrrc.json
node_modules/
dist/
.env
.DS_Store
coverage/

# Added by clean-my-repo
bower_components/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
build/
*.o
*.out
*.class
